<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Something Went Wrong</title>
    <link rel="stylesheet" href="cssfile/log.failed.style.css">
</head>
<body>
    <div class="container">
        <div class="img"></div>
        <div class="text">
            <span>Oops! Login Failed</span>
            <p>Something is technically wrong that's why you are not able to loggedin.Why dont't you try again?This time it's gona work:</p>
        </div>
    </div>
</body>
</html>