<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <div class="parent">
        <div class="child">
            
            <form method="post" action="/home-page">
                <h1>Register</h1>
                <h6>Kindly fill in this form to register</h6>
                <div class="mainf">
                <div class="formgroup">
                    Username <br>
                <input type="text" name="Username" placeholder="Enter Username" id="user"> <br>
                </div>
                <div class="formgroup">
                    Email <br>
                    <input type="email" placeholder="Enter email" id="email"> <br>
                </div>
                <div class="formgroup">
                    Password <br>
                <input type="password" placeholder="Enter password" class="password"> <br>
                </div>
                <div class="formgroup">
                    Repeat Password <br>
                <input type="password" placeholder="Enter password" class="password"><br>
                <button id="button">Register</button>
                <p>
                Already have an account? 
                <a href="www.scaler.com">Login</a>                    
                </p>
                </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>