<!DOCTYPE html>
<html lang="en">
<head>
    <title>TaskForge</title>
    <link rel="stylesheet" href="/cssfile/org.home.style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
</head>
<body >
    <header class="header">
        <div class="logo_container">
            <a href="#"><img class="taskforge_home" src="cssfile/main.logo.png" alt="TaskForge Home"></a>
        </div>
        <nav class="nav_bar">
            <a href="#">Find Jobs</a>
            <a href="#">Post Jobs</a>
            <a href="#">Job Status</a>
        </nav>
        <!-- <div class="action_bar">
            <a class="action_container" href="userlogin\index_login_register.html">
                <span class="action_name">Log in</span>
            </a>

             <a class="action_container" href="userlogin\index_login_register.html">
                <span class="action_name">Sign up</span>
            </a> 

            <a class="action_container" href="orglogin\index_org_loginpage.html">
                <button class="action_name_client"><b>Clients</b></button>
            </a>
        </div> -->
    </header>
    <main>
        <div class="heading">
            <P>
                Connect with top <br>freelancers for any <br> project, online.
            </P>
        </div>

        <!-- <div class="slogan">
            <p>
                World's largest freelance marketplace
                Any job you can possibly think of
                Save up to 90% & get quotes for free
                Pay only when you're 100% happy
            </p>
        </div> -->

        <div class="slogan">
            <p>
                India's rising freelance marketplace
            </p>
            <p>
                Any job you can possibly think of
            </p>
            <p>
                Save up to 90% & get quotes for free
            </p>
            <p>
                Pay only when you're 100% happy
            </p>
        </div>
        
        
        
        <!-- <h1>Make it all happen with freelancers</h1>
        <div class="features">
            
            <p>
                Access a pool of top talent across various categories
                
            </p>
            <p>
                Enjoy a simple, easy-to-use matching experience
            </p>
            <p>
                Get quality work done quickly and within budget
            </p>
            <p>
                Only pay when you’re happy
            </p>
        </div> -->
    </main>
    <footer>
        <div class="footer_container">
            <div class="footer_column">
                <h3>About</h3>
                <a href="#">About us</a>
                <a href="#">Team</a>
                <a href="#">How it Works</a>
                <a href="#">Investor</a>
                <a href="#">Awards</a>
                <a href="#">Press Releases</a>
            </div>
            <div class="footer_column">
                <h3>Terms</h3>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms and Conditions</a>
                <a href="#">Copyright Policy</a>
                <a href="#">How it Works</a>
                <a href="#">Code of Conduct</a>
                <a href="#">Fees and Charges</a>
            </div>
            <div class="footer_column">
                <h3>Freelancer</h3>
                <a href="#">Categories</a>
                <a href="#">Contests</a>
                <a href="#">Enterprise</a>
                <a href="#">Get Verified</a>
                <a href="#">Photo Anywhere</a>
                <a href="#">Showcase</a>
            </div>
        </div>
        <hr>

        <div class="copyright">
            © 2024 www.taskforge.com. All rights reserved.
        </div>
    </footer>
</body>
<script src="script-main.js"></script>
</html>