<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cssfile/post.job.style.css">
    <title>Post Jobs</title>
</head>
<body>
    <form class="post-job">
        <h1>POST A JOB</h1>
        <label for="jobTitle">Job Title</label>
        <input type="text" name="jobTitle"><br>
        <label for="domain">Domain</label>
        <input type="text" name="domain"><br>
        <label for="experience">Experience</label>
        <input type="text" name="experience"><br>
        <label for="budget">Budget</label>
        <input type="text" name="budget"><br>
        <label for="description">Description</label>
        <input type="text" name="description"><br>
        <button type="submit"><b>Post</b></button>
    </form>
</body>
<script src="/jsfile/post.job.script.js"></script>
</html>
