*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 700px;
    width: 400px;
    background-color: white;
    font-size: 20px;
    text-align: center;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
.img{
   
    background-image: url('lockimage.jpg');
    height: 280px;
    width: 400px;
    background-size: contain;
    
}


.text span{
    font-size: 40px;
    padding: 20px;
    margin-bottom: 20px;
    color: #fb8500;
    font-weight: 600;
}

.text p{
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #003049;
    font-weight: lighter;
}